/*  your css code here. If applicable */
/* Apply styles to paragraphs with the class selector */
.selector:nth-child(even) {
    color: #00f;
    background-color: #eee;
    font-family: Arial;
    font-size: 20px;
}
